Character(
    id: "hh",
    states: [
        (
            name: "idle",
            frames: [
                (
                    sprite: Some( ( texture: "/img/hh/idle.png" ) ),
                ),
            ],
            script: Some("/core/idle.rhai"),
        ),
        (
            name: "forward",
            frames: [ 
                (
                    sprite: Some( ( texture: "/img/hh/idle.png" ) ),
                ),
            ],
            script: Some("/core/forward.rhai"),
        ),
        (
            name: "backward",
            frames: [ 
                (
                    sprite: Some( ( texture: "/img/hh/idle.png" ) ),
                ),
            ],
            script: Some("/core/backward.rhai"),
        ),
    ],
)
